// USING SASS AND CSS.
// ADDING VARIABLES.
$primaryColor: #000000;
$primaryFontSize: 20px;
$primaryPadding: 50px;
$secondaryColor: #ffffff;
$secondFontSize: 28px;
$thirdColor: #6B6D76;
$fourthColor: #7A9B76;
$fifthColor: #FCBFB7;
$sixthColor: #5A2328;
$seventhColor:  #7A9B76;
$eighthColor: #090302;

// HOME-PAGE
// outdoorAdventures grid layout
.wrapper-two{
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section aside"
    "footer footer footer";
  grid-gap: 10px;
  margin: 0;
}

// BODY
body{
  background: url("../images/clouds-cold-dark-540518.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  color: $primaryColor;
}

// PTAGS
p{
  font-family: 'Fjalla One', sans-serif;
  font-size: $primaryFontSize;
  color: $secondaryColor;
}

img{
  border: 8px solid $primaryColor;
  border-radius: 20px;
}

.page-header{
  grid-area: header;
  width: 100%;
  height: auto;
  h1{
    text-align: center;
    color: $primaryColor;
    font-size: $secondFontSize;
    font-family: 'Kaushan Script', cursive;
  }

}
// NAV BAR
// Styling nav bar
.main-nav{
  grid-area: nav;
  width: 100%;
  height: auto;
  text-align: center;
  position: sticky;
  top: 1%;
    ul{
      list-style-type: none;
      font-size: 25px;
      margin-top: 50px; 
    }
  }
    li{
      display: inline;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      padding: 18px;
      border: 1px solid $primaryColor;
      border-bottom-color: $fourthColor;
      border-radius: 15px;
    a:hover{
      background-color: $primaryColor;
    }
    a:hover{
      text-decoration: none;
      color: $primaryColor;
      font-style: oblique;
    }
    a:link{
      text-decoration: none;
      color: $secondaryColor;
    }
    a:visited{
      color: $secondaryColor;
    }
}

// SECTION
.main-section{
  grid-area: section;
  width: 100%;
  height: auto;
}
.sub-grid{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

// SIDE BAR
.main-aside{
  grid-area: aside;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.side-bar{
  text-align: center;
}

// FOOTER
.page-footer{
  grid-area: footer;
  width: 100%;
  height: auto;
  text-align: center;
  color: $secondaryColor;
}



// RESPONSIVE DESIGN
// Responsive for mobile first
@media only screen and (max-width: 360px){
  .wrapper{
      display: grid;
      grid-template-areas: 
          "header"
          "nav"
          "section"
          "aside"
          "footer";
      grid-gap: 10px;
      margin: 0;
  }
  .page-header{
    grid-area: header;
    width: 85%;
    height: auto;
  
  }
  
  .main-nav{
    grid-area: nav;
    width: 85%;
    height: auto;
    padding: 10px;
    margin-top: 0;
    position: sticky;
    li{
      padding: 10px;
      margin-bottom: 5px;
    }
    ul{
      font-size: 15px;
    }
  }
  
  .main-section{
    grid-area: section;
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row:3/4;
  }
  
  .main-aside{
    grid-area: aside;
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row:4/5;
  }
  
  .page-footer{
    grid-area: footer;
    width: 85%;
    height: auto; 
    grid-column: 1/4;
    grid-row:5/5;
  }
  

  img{
    width: 100%;
    height: auto;
  }
}

// Tablet break-point view
@media only screen and (min-width: 600px){
  .wrapper{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "section aside"
        "footer footer";
    grid-gap: 10px;
    margin: 0;
}
.page-header{
  grid-area: header;
  width: 93%;
  height: auto;

}

.main-nav{
  grid-area: nav;
  width: 93%;
  height: auto;
}

.main-section{
  grid-area: section;
  width: 100%;
  height: auto;
}

.main-aside{
  grid-area: aside;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.page-footer{
  grid-area: footer;
  width: 93%;
  height: auto; 
}

}

// Desktop break-view point
@media only screen and (min-width: 992px){
  .wrapper{
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section section aside"
        "footer footer footer";
    grid-gap: 10px;
    margin: 0;
}
.page-header{
  grid-area: header;
  width: 96.5%;
  height: auto;

}

.main-nav{
  grid-area: nav;
  width: 96.5%;
  height: auto;
  grid-column: 1/4;
}

.main-section{
  grid-area: section;
  width: 100%;
  height: auto;
}

.main-aside{
  grid-area: aside;
  border-radius: 20px;
  width: 97.5%;
  height: auto;
}

.page-footer{
  grid-area: footer;
  width: 96.5%;
  height: auto; 
}

}


// GALLERY-PAGE
//gallery-page2 grid layout
.container-one{
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "section section section";
  grid-gap: 10px;
  margin: 0;
}
// HEADER
.page-header2{
  grid-area: header;
  width: 100%;
  height: auto;
  h1{
    text-align: center;
    color: $primaryColor;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
  }
}
// NAV BAR
.main-nav2{
  grid-area: nav;
  width: 100%;
  height: auto;
  text-align: center;
  position: sticky;
  top: 1%;
  ul{
    list-style-type: none;
    font-size: 25px;
    margin-top: 50px;
  
  }
}
  li{
    display: inline;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding: 18px;
    border: 1px solid $primaryColor;
    border-bottom-color: $fourthColor;
    border-radius: 15px;
  a:hover{
    background-color: $primaryColor;
    opacity: 0.5;
  }
  @keyframes opacity {
     0% {opacity: 0.5; background-color: $primaryColor} 
     50% {opacity: 1; background-color: $primaryColor}
     100% {opacity: 0.5; background-color: $primaryColor} 
  }
}

// SECTION
.main-section2{
  grid-area: section;
  width: 100%;
  height: auto;
}

.sub-grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.image1{
  border: 8px solid $primaryColor;
}
.image2{
  border: 8px solid $primaryColor;
}
.image3{
  border: 8px solid $primaryColor;
}
.image4{
  border: 8px solid $primaryColor;
}
.image5{
  border: 8px solid $primaryColor;
}
.image6{
  border: 8px solid $primaryColor;
}
.image7{
  border: 8px solid $primaryColor;
}
.image8{
  border: 8px solid $primaryColor;
}
.image9{
  border: 8px solid $primaryColor;
}
.image10{
  border: 8px solid $primaryColor;
}
.image11{
  border: 8px solid $primaryColor;
}
.image12{
  border: 8px solid $primaryColor;
}

// FOOTER
.page-footer2{
  grid-area: footer;
  width: 100%;
  height: auto;
  text-align: center;
  color: $secondaryColor;
}



// Responisve design for gallery-page
// mobile first
@media only screen and (max-width: 360px){
  .container-one{
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "section"
      "footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header2{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav2{
    grid-area: nav;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 0;
    li{
      padding: 10px;
      margin-bottom: 5px;
    }
    ul{
      font-size: 15px;
    }
  }
  
  .main-section2{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer2{
    grid-area: footer;
    width: 100%;
    height: auto;
  }

  img{
    widows: 50%;
  }

  
}

// Tablet break-view point 
@media only screen and (min-width: 600px){
  .container-one{
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "section section"
      "footer footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header2{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav2{
    grid-area: nav;
    width: 100%;
    height: auto;
  }
  
  .main-section2{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer2{
    grid-area: footer;
    width: 100%;
    height: auto;
  }

}

// Desktop break-view point 
@media only screen and (min-width: 992px){
  .container-one{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "section section section"
      "footer footer footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header2{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav2{
    grid-area: nav;
    width: 100%;
    height: auto;
  }
  
  .main-section2{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer2{
    grid-area: footer;
    width: 100%;
    height: auto;
  }

}

// CONTACT US-PAGE
// Contact grid layout
.wrapper{
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "section section section"
    "footer footer footer";
  grid-gap: 10px;
  margin: 0;
}

// HEADER
.page-header3{
  grid-area: header;
  width: 100%;
  height: auto;
  h1{
    text-align: center;
    color: $primaryColor;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
  }
}

// NAV BAR
.main-nav3{
  grid-area: nav;
  width: 100%;
  height: auto;
  text-align: center;
  position: sticky;
  top: 1%;
  ul{
    list-style-type: none;
    font-size: 25px;
    margin-top: 50px;
    li{
      display: inline;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      padding: 18px;
      border: 1px solid $primaryColor;
      border-bottom-color: $fourthColor;
      border-radius: 15px;
    a:hover{
      background-color: $primaryColor;
      opacity: 0.5;
    }
    @keyframes opacity {
       0% {opacity: 0.5; background-color: $primaryColor} 
       50% {opacity: 1; background-color: $primaryColor}
       100% {opacity: 0.5; background-color: $primaryColor} 
    }
  }
  
  }
}


// SECTION
.main-section3{
  grid-area: section;
  width: 100%;
  height: auto;
}
// Styling body of contact-page
.body{
  text-align: center;
  display: grid;
}

input[type=text] {
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
//Styling placeholder
::placeholder {
  color: $secondaryColor;
}
//Styling select section
select{
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
//Styling textarea
textarea{
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
//Styling lable
label{
  font-family: 'Skranji', cursive;
  font-size: 18px;
  color: $eighthColor;
}
//Styling input-email
input[type=email]{
  background-color: $thirdColor;
  border-radius: 10px;
  border-color: $fifthColor;
  box-shadow: 3px 3px 5px 6px #ccc;

}
//Styling submit button
input[type=button]{
  background-color: $fourthColor;
  border-radius: 10px;
  border-color: $sixthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
}

input[type=button]:hover{
  background-color: $sixthColor;
  box-shadow: inset 0 0 10px $primaryColor;
}
//Form tag
form{
  font-family: 'Skranji', cursive;
  font-size: 18px;
  color: $seventhColor;
}

// FOOTER
.page-footer3{
  grid-area: footer;
  width: 100%;
  height: auto;
  text-align: center;
  color: $secondaryColor;
}

// Responsive design for contact-page
// Mobile first
@media only screen and (max-width: 360px){
  .wrapper{
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "section"
      "footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header3{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav3{
    grid-area: nav;
    width: 100%;
    height: auto;
    display: inline;
  }

  li{
    padding: 10px;
    font-size: 20px;
  }
  ul{
    padding: 0;    
  }
  
  .main-section3{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer3{
    grid-area: footer;
    width: 100%;
    height: auto;
  }

  img {
    width: 80%;
  }
  form{
    width: 85%;
    text-align: center;
  }
  input[type=text]{
    width: 80%;
  }
  input[type=email]{
    width: 90%;
  }
  select{
    width: 80%;
  }
  textarea{
    width: 80%;
  }
}

// Tablet break-view point
@media only screen and (min-width: 600px){
  .wrapper{
    display: grid;
    grid-template-areas: 
      "header header"
      "nav nav"
      "section section"
      "footer footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header3{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav3{
    grid-area: nav;
    width: 100%;
    height: auto;
  }
  
  .main-section3{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer3{
    grid-area: footer;
    width: 100%;
    height: auto;
  }
}

// Desktop break-view point
@media only screen and (min-width: 992px){
  .wrapper{
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav nav nav"
      "section section section"
      "footer footer footer";
    grid-gap: 10px;
    margin: 0;
  }
  
  .page-header3{
    grid-area: header;
    width: 100%;
    height: auto;
  }
  
  .main-nav3{
    grid-area: nav;
    width: 100%;
    height: auto;
  }
  
  .main-section3{
    grid-area: section;
    width: 100%;
    height: auto;
  }
  
  .page-footer3{
    grid-area: footer;
    width: 100%;
    height: auto;
  }
}
