// Using sass and css.
// Adding variables.
$primaryColor: #000000;
$primaryFontSize: 20px;
$primaryPadding: 50px;
$secondaryColor: #ffffff;
$secondFontSize: 50px;
$thirdColor: #6B6D76;
$fourthColor: #7A9B76;
$fifthColor: #FCBFB7;
$sixthColor: #5A2328;
$seventhColor:  #7A9B76;
$eighthColor: #090302;
// Styling the body with a background image.
body{
  background: url("adventure-calm-clouds-414171.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  color: #FF3700;
}
// Applying main grid template to body of the home-page.
.container{
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article article"
    "footer footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}
// Applying a subGrid to text and images.
.subGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header, footer, article, nav, div {
  padding: 1.2em;
  }
  // Adding a header and giving it some style.
.pageHeader {
  grid-area: header;
  text-align: center;
  font-size: $secondFontSize;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  font-family: 'Kaushan Script', cursive;
  }
  // Added a footer section.
.pageFooter {
  grid-area: footer;
  border: 2px solid $primaryColor;
  text-align: right;
  height: 100px;
  }
// Added a article section, going to apply images in this section.
.mainArticle {
  grid-area: article;
  border: 2px solid $primaryColor;
  }
  // Added a nav bar section to the home-page.
.mainNav {
  grid-area: nav;
  }
  // Styling my nav bar accordingly.
  // Styling my unordered list.
  ul{
    list-style-type: none;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 50px;
  }
  li{
    padding: 50px;
  }
  li{
    a:hover{
      background-color: $primaryColor;
      padding: 30px;
      border-radius: 5px;
    }

  }
  // Styling the links in the home-page.
  a:hover{
    text-decoration: none;
    color: $primaryColor;
    font-style: oblique;
  }
  a:link{
    text-decoration: none;
    color: $secondaryColor;
  }
  a:visited{
    color: $secondaryColor;
  }
// Added a ad section to the home-page.
.siteAds {
  grid-area: ads;
  border: 2px solid $primaryColor;
  }

// Using some sass.
p{
  font-family: 'Fjalla One', sans-serif;
  font-size: $primaryFontSize;
  color: $secondaryColor;
}

// Adding some styles to the contact-page.
// Styling the body of the contact-page.
.body2{
  text-align: center;
}
// Styling the header of the contact-page.
.header1{
  color: $primaryColor;
  font-family: 'Anton', sans-serif;
  font-size: $secondFontSize;
}
// Styling the text input accordingly.
input[type=text] {
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
// Styled placeholders.
::placeholder {
  color: $secondaryColor;
}
// Styling the select section of the contact-page.
select{
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
// Styling the textarea.
textarea{
  border-radius: 10px;
  border-color: $fifthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
  background-color: $thirdColor;
  box-shadow: 3px 3px 5px 6px #ccc;
}
// Styling the lables.
label{
  font-family: 'Skranji', cursive;
  font-size: 18px;
  color: $eighthColor;
}
// Styling the email input accordingly.
input[type=email]{
  background-color: $thirdColor;
  border-radius: 10px;
  border-color: $fifthColor;
  box-shadow: 3px 3px 5px 6px #ccc;

}
// Styling the submit button accordingly.
input[type=button]{
  background-color: $fourthColor;
  border-radius: 10px;
  border-color: $sixthColor;
  font-family: 'Skranji', cursive;
  font-size: 18px;
}

input[type=button]:hover{
  background-color: $sixthColor;
  box-shadow: inset 0 0 10px $primaryColor;

}
// Styling the form tag.
form{
  font-family: 'Skranji', cursive;
  font-size: 18px;
  color: $seventhColor;
}
// Styling the drop-box in the contact-page.
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


// Adding some styles to my gallery-page.
// Adding a header section to my gallery-page.
// Styling the header.
.pageHeader2{
  grid-area: header;
  color: $primaryColor;
  font-size: 30px;
  padding: 0px;
  color: $primaryColor;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
// Adding a footer section to my gallery-page.
// Styling the footer.
.pageFooter2{
  grid-area: footer;
}
// Adding a section to my gallery-page.
// Stlying my section.
.mainSection{
  grid-area: section;
}
// Adding a nav section to my gallery-page.
// Styling the nav.

// Applying a grid template to my gallery-page.
.wrapper{
  display: grid;
  grid-template-areas:
    "header header"
    "section section"
    "footer footer";
  grid-template-rows: auto 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

// Adding a subGrid to the section "section" in the gallery-page.
.subGrid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
// Adding style and borders to the images in the gallery-page.
// Adding a border to my images in gallery-page.
// Styling images in my gallery-page.
.image1{
  border: 5px solid $primaryColor;
}
.image2{
  border: 5px solid $primaryColor;
}
.image3{
  border: 5px solid $primaryColor;
}
.image4{
  border: 5px solid $primaryColor;
}
.image5{
  border: 5px solid $primaryColor;
}
.image6{
  border: 5px solid $primaryColor;
}
.image7{
  border: 5px solid $primaryColor;
}
.image8{
  border: 5px solid $primaryColor;
}
.image9{
  border: 5px solid $primaryColor;
}
.image10{
  border: 5px solid $primaryColor;
}
.image11{
  border: 5px solid $primaryColor;
}
.image12{
  border: 5px solid $primaryColor;
}
// Styling the drop-box in the gallery-page.
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
