// Using sass and css.
// Styling the body with a background image.
body{
  background: url("adventure-calm-clouds-414171.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
// Applying main grid template to body of the home-page.
.container{
  display: grid;
  grid-template-areas:
    "header header ads"
    "nav article article"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}
// Applying a subGrid to text and images.
.subGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

header, footer, article, nav, div {
  padding: 1.2em;
  }
  // Adding a header and giving it some style.
.pageHeader {
  grid-area: header;
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  border: 2px solid black;
  padding: 0px;
  color: black;
  }
  // Added a footer section.
.pageFooter {
  grid-area: footer;
  border: 2px solid black;
  text-align: right;
  float: right;
  }
// Added a article section, going to apply images in this section.
.mainArticle {
  grid-area: article;
  border: 2px solid black;
  }
  // Added a nav bar section.
.mainNav {
  grid-area: nav;
  border: 2px solid black;
  }
  // Styling my nav bar accordingly.
  // Styling my unordered list.
  ul{
    list-style-type: none;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 50px;
  }
  li{
    padding: 50px;
  }
  li:hover{
    background-color: black;
  }
  // Styling the links accordingly.
  a:hover{
    text-decoration: none;
    color: black;
    font-style: oblique;
  }
  a:link{
    text-decoration: none;
    color: white;
  }
  a:visited{
    color: white;
  }
// Added a ad section.
.siteAds {
  grid-area: ads;
  border: 2px solid black;
  }
// Adding a border to my images in home-page.
.image1{
  display: inline-flex;
}

// Adding variables.
$primaryColor: black;
$primaryFontSize: 20px;
$primaryPadding: 50px;
$secondaryColor: white;
$secondFontSize: 50px;

// Using some sass.
p{
  font-family: 'Fjalla One', sans-serif;
  font-size: $primaryFontSize;
  color: $secondaryColor;
}

// Adding some styles to my contact-page.
// Styling the body of my contact-page.
.body2{
  text-align: center;
}
// Styling the header of my contact-page.
.header1{
  color: black;
}
// Adding some style to the footer of my contact-page.
.contactFooter{
  color: black;
  font-size: $secondFontSize;
  padding: $primaryPadding;
}

// Adding some styles to my gallery-page.
.pageHeader2{
  color: $primaryColor;
  font-size: 30px;
}
